.AboutUs {
  font-family: Arial, sans-serif;
}

.aboutUsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: var(--quaternary-color);
  min-height: 50px;
}

.aboutUsHeader p {
  font-size: 1.0rem;
  margin-right: 5%;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.header-text {
  font-weight: bold;
  font-size: 1.0rem;
  margin: 0;
}

.button-header-about {
  background-color: #1a73e8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button-margin-about {
  margin-right: 16px;
}

.aboutUsSection {
  padding: 20px;
  background-color: #ccccff;
}

.aboutUsTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  margin-top: -2rem;
  background-color: #ccccff;
}

.teamMember {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 200px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  background-color: white;
}

.teamMemberImage {
  width: 100%;
  height: auto;
}

.teamMember:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.teamMemberName {
  font-size: 18px;
  color: #212529;
  font-weight: bold;
  padding: 16px 0;
}

.teamMemberRole {
  font-size: 15px;
  color: #212529;
}

.teamPhotos {
  text-align: center;
  margin-top: 2rem;
}

.teamPhotosTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #212529;
}

.teamPhoto {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.teamDescription {
  text-align: center;
  margin-top: 2rem;
  background-color: white;
}

.teamDescriptionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.teamDescriptionText {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.statisticsContainer {
  display: flex;
  flex-direction: column;
}

.chartsContainer {
  display: flex;
  gap:10%;
  margin-top: 20px;
  order: 2;
  justify-content: center;
  align-items: center;
}

.chart {
  max-width: 300px; /* Adjust this value as needed */
}

.chartLeft {
  order: 1;
}

.teamDescriptionText {
  order: 2;
  max-width: 900px; /* Adjust this value as needed */
  text-align: justify;
}

.chartRight {
  order: 3;
}

.chartImage1{
  width: 100%;
}

.chartImage2 {
  width: 100%;
}

.imageCaption1, .imageCaption2 {
  margin-left: 0;
  width: 100%;
}

@media screen and (min-width: 481px){
  .teamMoments {
    background-color: #ccccff;
  }
  
  .carousel-container-about {
    text-align: center;
    margin-top: 2rem;
    background-color: #ccccff;
  }
  
  .carousel-title-about {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .hero-carousel-about {
    position: relative;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-slides-about {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }
  
  .carousel-image-container-about {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 1s ease;
  }
  
  .carousel-image-container-about.active {
    opacity: 1;
  }
  
  .carousel-image-about {
    width: 400px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 3%;
  }
  
  .carousel-button-about {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .carousel-button.prev-about {
    left: 10px;
  }
  
  .carousel-button.next-about {
    right: 10px;
  }
}

/* Mobile devices */
@media screen and (max-width: 480px) {

  .aboutUsSection {
    padding: 20px;
    background-color: #ccccff;
  }
  
  .aboutUsTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .teamMembers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 20px;
    margin-top: -1rem;
    background-color: #ccccff;
  }
  
  .teamMember {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 29%;
    margin: 5px;
    text-align: center;
    font-family: arial;
    background-color: white;
  }
  
  .teamMemberImage {
    width: 100%;
    height: auto;
  }
  
  .teamMember:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .teamMemberName {
    font-size: 18px;
    color: #212529;
    font-weight: bold;
    padding: 1px 0;
  }
  
  .teamMemberRole {
    font-size: 10px;
    font-weight: bold;
    color: #212529;
  }
  
  .teamPhotos {
    text-align: center;
    margin-top: 2rem;
  }
  
  .teamPhotosTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .teamPhoto {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
  
  .teamDescription {
    text-align: center;
    margin-top: 2rem;
    background-color: white;
  }
  
  .teamDescriptionTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .teamDescriptionText {
    font-size: 0.8rem;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
  }
  
  .statisticsContainer {
    display: flex;
    flex-direction: column;
  }
  
  .chartsContainer {
    display: flex;
    /* gap:10%; */
    margin-top: 20px;
    order: 2;
    flex-direction: row;
    gap:1rem;
  }
  
  .chartLeft {
    order: 1;
  }
  
  .chartRight {
    order: 3;
  }
  
  .chartImage1{
    width: 80%;
  }
  
  .chartImage2 {
    width: 80%;
  }
  
  .imageCaption1, .imageCaption2 {
    margin-left: 0.3rem;
    width: 100%;
    font-size: 0.7rem;
  }
  
  .teamMoments {
    background-color: #ccccff;
  }
  
  .carousel-container-about {
    text-align: center;
    margin-top: 2rem;
    background-color: #ccccff;
  }
  
  .carousel-title-about {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .hero-carousel-about {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
  
  .carousel-slides-about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }
  
  .carousel-image-container-about {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .carousel-image-container-about.active {
    opacity: 1;
  }
  
  .carousel-image-about {
    width: 275px;
    height:375px;
    object-fit: cover;
    margin-bottom: 3%;
  }
  
  .carousel-button-about {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .carousel-button.prev-about {
    left: 20px;
  }
  
  .carousel-button.next-about {
    right: 20px;
  }
  
  
}
