/* This is the css code for Valkyrie landing page */

/* Use a custom font for the whole page */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

/* Define some colors for convenience */
:root {
  --secondary-color: #ccccff; /* light gray */
  --tertiary-color: #343a40; /* dark gray */
  --quaternary-color: #ffffff; /* white */
  --quinary-color: #a5a5a5;
  --senary-color: #ffe3e3;
  --primary-color:#ccccff;
}

body {
  overflow-x: hidden;
}

.homePageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: var(--quaternary-color);
  min-height: 50px; /* add this line */
}

.portal-button {
  display: inline-block;
  padding: .5rem 1rem;
  background-color:#ccccff;
  color: black;
  text-decoration: none;
  border-radius: .25rem;
  transition: background-color 0.3s ease;
}

.portal-button:hover {
  background-color: darken(var(--primary-color), 10%);
}

/* Style the logo */
.App-logo {
  width: 150px;
  height: auto;
}

/* Style the navigation links */
nav {
  display: flex;
  list-style: none;
}

nav a {
  margin-left: 1rem;
  color: var(--tertiary-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--primary-color);
}

/* Style the buttons */
.button-header {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #ccccff;
  color: black;
  text-decoration: none;
  border-radius: .25rem;
  transition: background-color 0.3s ease;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.whiteBtn {
  display: inline-block;
  padding: .5rem 1rem;
  background-color:white;
  color: black;
  text-decoration: none;
  border-radius: .25rem;
  transition: background-color 0.3s ease;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.button-margin {
  margin-right: 0.5rem;
}

.buttons-container {
  display: flex;
}

button:hover {
  opacity: 0.2;
}

.header-title {
  font-weight: bold;
}
/* Style the hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
  background-color: #ccccff; /* change this line */
}


/* Style the hero content */

.hero-content {
  width:70%;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: black;
}

.YouTube {
  width: 672px;
  height: 378px;
  margin-top:-2%;
  margin-bottom:2%;
}

/* Style the hero image */

/* .hero-carousel {
  flex: 1;
  max-width: 50%;
  position: relative;
} */

.carousel-container-about-home{
  max-width:50%;
}

.carousel-slides {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: auto;
  /* margin-left:55%;
  margin-top:-10%; */
}

.carousel-image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel-image-about-home {
  width: 350px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 3%;
}

.carousel-image-container.active {
  opacity: 1;
}

.carousel-image {
  max-width: 35%;
  max-height: 35%;
  object-fit: contain;
}

.carousel-image.active {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transform: translateY(-50%);
}

.carousel-button.prev {
  left: 120px;
}

.carousel-button.next {
  right: 120px;
}

.featuresAndVid {
  display:flex;
  flex-direction:column;
  align-items: center;
}

/* Style the features section */
.features {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-between; /* add this line */
}

/* Style each feature card */
.feature-card {
  flex-basis: calc(33.333% - .5rem); /* use three columns per row */
  margin-bottom: .5rem; /* add some space between rows */
}

.feature-card:nth-child(odd) { /* alternate the margin for odd and even cards */
    margin-right: .5rem; 
}

.feature-card:nth-child(even) { 
    margin-left:.5rem; 
}

.feature-icon img {
  max-width: 10%; /* Adjust this value as needed */
  max-height: 10%; /* Adjust this value as needed */
  object-fit: contain;
}

.feature-title {
    font-size:1.29rem; 
    font-weight:bold; 
    color:#212529; /* dark gray */ 
    text-align:center; 
    margin-top:.5rem; 
}

.feature-description { 
    font-size:.875rem; 
    color:#6c757d; /* gray */ 
    text-align:center; 
    margin-top:.25rem; 
}

/* Style the app features section */
.app-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  background-color: #ccccff;
}

.app-features-image {
  flex: 1;
  flex-basis: calc(25% - 1rem); /* Adjust the percentage and subtraction value to control the width and gap */
  margin: 0 0.02rem; /* Adjust the margin value to control the gap between the images */
}

.app-features-image img {
  width: 70%;
  height: auto;
}

.app-features-image-rounded img {
  border-radius: 1.5rem; 
}

.imageContainer {
  display: flex;
  justify-content: space-between;
}

/* Style the app features text */
.app-features-text {
  max-width: 50%;
  color: black;
}

.app-features-text h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #212529; /* dark gray */
}

.app-features-text p {
  font-size: 1.2rem;
  color: black; /* gray */
}

/* Style the pharm portal section */
.pharmacy-portal {
  align-items: center;
  align-content: center;
  padding: 1rem 2rem;
  background-color: white;
}

.pharmacy-portal h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;

}
.pharmacy-portal p {
  color:#6c757d; /* gray */ 
  font-size:.875rem; 
  font-weight: bold;
}

.pharmacy-portal-image-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2%;
}

.pharmacy-portal-image {
  flex: 1;
  margin-right: 1rem;
}

.table-image {
  width:75%;
  height:80%;
  border-radius:0.25rem;
}
.pharmacy-portal-image:last-child {
  margin-right: 0;
}

.pharmacy-portal-image img {
  width: 90%;
  height: auto;
}

/*How section */

.how-its-built {
  padding: 4rem 0rem;
  flex-direction: column;
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ccccff; /* change this line */
}

.how-its-built-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.how-its-built-padding {
  padding:4rem 2rem;
}


.how-its-built-padding h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top:-3%;
}

.how-its-built-padding p {
  font-size: 1.2rem;
  color: black;
}

.logo-image {
  width:100px;
  height:100px;
  margin-left: 60px;
}

.how-its-built-btn:hover {
  background-color: #0056b3;
}

.logo-image.mpPic {
  width:500px;
  height:auto;
}

/* Style the about section */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between; /* change this line */
  padding: 2rem; /* change this line */
  background-color: white; /* change this line */
}

/* Style the about text */
.about-text {
  max-width: 50%;
}

.about-text h2 {
  font-size: 2rem;
  font-weight: bold;
  color: black; /* dark gray */
}

.about-text p {
  font-size: 1.2rem;
  color: black; /* gray */
}

/* Style the about image */
.about-image {
  max-width: 30%; /* Adjust the width to your desired size */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Media Query for MacBook Pro screens */
/* @media only screen and (min-device-width: 1440px) and (max-device-width: 1440px) and (min-device-height: 900px) and (max-device-height: 900px) {

  .carousel-image {
    max-width: 35%;
    max-height: auto;
    object-fit: contain;
  }

  .carousel-button.prev {
    left: 50px;
  }
  
  .carousel-button.next {
    right: 50px;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem;
    background-color: var(--primary-color);
  

} */

/* Mobile devices */
@media screen and (max-width: 480px) {

  
  .buttons-container {
    display: flex;
    flex-direction: row;
  }

  .homePageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: var(--quaternary-color);
    min-height: 50px;
    gap:1rem;
  }

  .button-header {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #ccccff;
    color: black;
    text-decoration: none;
    border-radius: .25rem;
    transition: background-color 0.3s ease;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }

  .button-margin {
    margin-right: 0.5rem;
  }

  /* Adjust hero section */
  .hero {
    flex-direction: column;
    padding: 4rem 1rem;
    width:93.4%;
  }

  /* Adjust hero title and subtitle */
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  /* Adjust feature cards */
  .feature-card {
    flex-basis: calc(100% - 1rem);
    margin-bottom: 1rem;
  }

  .YouTube {
    width: 431.2px;
    height: 242.55px;
    margin-top:-9%;
  }

  /* Style the features section */
  .features {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-between; /* add this line */
  }

  /* Style each feature card */
  /* .feature-card {
    flex-basis: calc(33.333% - .5rem); 
    margin-bottom: .5rem; 
  } */

  .feature-card:nth-child(odd) { /* alternate the margin for odd and even cards */
      margin-right: .5rem; 
  }

  .feature-card:nth-child(even) { 
      margin-left:.5rem; 
  }

  .feature-icon img {
    max-width: 10%; /* Adjust this value as needed */
    max-height: 10%; /* Adjust this value as needed */
    object-fit: contain;
  }

  .feature-title {
      font-size:1.29rem; 
      font-weight:bold; 
      color:#212529; /* dark gray */ 
      text-align:center; 
      margin-top:.5rem; 
  }

  .feature-description { 
      font-size:.875rem; 
      color:#6c757d; /* gray */ 
      text-align:center; 
      margin-top:.25rem; 
  }

  /* Adjust app features section */
  .app-features {
    flex-direction: column;
    padding: 2rem 1rem;
    width: 93.4%;
  }

  /* Adjust app features image container */
  .imageContainer {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  /* Adjust app features image */
  .app-features-image img {
    width: 90%;
  }

  .app-features-image-rounded img {
    border-radius: 1rem; 
  }

  /* Adjust app features text */
  .app-features-text {
    max-width: 90%;
    margin-bottom: 1rem;
  }

  .app-features-text p {
    font-size: 1rem;
    color: black; /* gray */
  }

  .app-features-text h2 {
    font-size: 1.54rem;
    font-weight: bold;
    color: #212529; /* dark gray */
  }

  /* Style the pharm portal section */
  .pharmacy-portal {
    align-items: center;
    align-content: center;
    padding: 1rem 2rem;
    background-color: white;
  }

  .pharmacy-portal h2 {
    font-size: 1.54rem;
    margin-bottom: 1.5rem;

  }
  .pharmacy-portal p {
    color:#6c757d; /* gray */ 
    font-size:.875rem; 
    font-weight: normal;
    margin-top: -3%;
  }

  .pharmacy-portal-image-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2%;
  }

  .pharmacy-portal-image {
    flex: 1;
    margin-right: 1rem;
  }

  .pharmacy-portal-image:last-child {
    margin-right: 0;
  }

  .pharmacy-portal-image img {
    width: 100%;
    height: auto;
  }

  /* Adjust how it's built section */
  .how-its-built {
    /* padding: 2rem 1rem; */
  }

  /* Adjust how it's built content */
  .how-its-built-content {
    flex-direction: column;
    align-items: center;
  }
  
  .how-its-built-padding h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top:-23%;
  }

  .how-its-built-padding p {
    font-size: 1rem;
    color: black;
  }

  .logo-image {
    /* width:100px;
    height:100px; */
    /* margin-left: 60px; */
  }

  .logo-box {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-right: %; */
    margin-left: -13%;
    gap:0.5rem;
    /* width: 70%; */
  }

  .how-its-built-btn:hover {
    background-color: #0056b3;
  }

  /* .logo-image.mpPic {
    width:500px;
    height:auto;
  } */


  /* Adjust about section */
  .about {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  /* Adjust about text */
  .about-text {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  /* Adjust about image */
  .about-image {
    max-width: 100%;
  }

  .about-text h2 {
    font-size: 2rem;
    font-weight: bold;
    color: black; /* dark gray */
  }
  
  .about-text p {
    font-size: 1.2rem;
    color: black; /* gray */
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {

  .carousel-image-about-home {
    width: 220px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1400px) {

  .carousel-image-about-home {
    width: 250px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1500px) {

  .carousel-image-about-home {
    width: 270px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1600px) {

  .carousel-image-about-home {
    width: 290px;
    height: 470px;
    object-fit: cover;
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1700px) {

  .carousel-image-about-home {
    width: 310px;
    height: 485px;
    object-fit: cover;
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1800px) {

  .carousel-image-about-home {
    width: 330px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 3%;
  }
}