.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App {
  background-color: #E33737;
  align-content:center ;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.App-header {
  min-height: 13vmin;
  width: 100vw;
  font-size: calc(20px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin-bottom: 0;
}
.button2{
  background-color: rgb(211, 200, 200);
  width:100px;
  height:30px;
  margin-bottom: 5%;
  color:black;
  font-weight: bold;
  margin-right: 10px;
}

.button3{
  background-color: rgb(211, 200, 200);
  width:130px;
  height:50px;
  margin-bottom: 5%;
  color:black;
  font-weight: bold;
  margin-right: 10px;
}

.App-link {
  color: #61dafb;
}

.table{
  border: 1px solid;
}

.tableWrapper {
  background-color: white;
  width: 100%;
  margin: 10px;
  width:95%;
  color: black;
  border-collapse: collapse;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 30px;
}
.th{
  border-right: 1px solid black;
  border-bottom: 1px solid rgb(130, 118, 118);
  border-collapse: collapse;
  text-align: center;
}

.td{
  border-bottom: 1px solid rgb(130, 118, 118);
  border-collapse: collapse;
  font-weight: 500;
  border-right: 1px solid black;
  text-align: center;
  align-content: center;

}

.label {
  color: black;
  display: block;
  margin: 20px;
  }

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}